# general config file for varcap apth  settings/program setting
# config file for collect_variants.pl and shell scripts

# absolute path to varcap folder (set in variant.config)
# PATH_VARCAP=/scratch/zojer/projects/varcap

### 1. general varcap config variables
# absolute path variable for varcap scripts folder
PATH_SCRIPTS=$PATH_VARCAP/scripts

# varcap output data folder, by default a folder called varcap_data is created besides the varcap folder
# PATH_PROJECTS_DATA=$PATH_VARCAP/../varcap_data
REF_FA_NAME=$( echo "${REF_FA_ORIGINAL##*/}" | sed 's/\.f.*a$/\.fasta/' )
REF_FA=$PATH_PROJECTS_DATA/reference/${REF_FA_NAME}
REF_FA_MOD=$PATH_PROJECTS_DATA/reference
REF_FNA=${REF_FA}

# path to log folder
PATH_LOGS=$PATH_PROJECTS_DATA/${PROJ_NAME}/logs

# paths to trimmers
PATH_TRIMMOMATIC=$( type trimmomatic | grep -o '\/.*\/' | sed 's/\/$//' )  
PATH_FASTQC=$( type fastqc | grep -o '\/.*\/' | sed 's/\/$//' )
PATH_PRINSEQ=$( type prinseq-lite.pl | grep -o '\/.*\/' | sed 's/\/$//' )

### 2. path variables for program executables
# path to mappers
PATH_BWA=$( type bwa | grep -o '\/.*\/' | sed 's/\/$//' )
PATH_BWA_075=${PATH_BWA}

# subsample data folder
PATH_SUBSAMPLE_DATA=${PATH_PROJECTS_DATA}/${PROJ_NAME}/mapper/subsample

# bwa data folders
PATH_BWA_INDEX=${PATH_PROJECTS_DATA}/${PROJ_NAME}/mapper/bwa_index
PATH_BWA_DATA=${PATH_PROJECTS_DATA}/${PROJ_NAME}/mapper/bwa
PATH_BWA_075_INDEX=${PATH_PROJECTS_DATA}/bwa_index

### 30 data for callers
## path to input bam file(s) for caller using bwa
# BAM_BWA=$BAM_NAME_BASE_bwa_*_v1.bam

OUTPUT_DIR=data
# path to callers and required libs
PATH_SAMTOOLS=/apps/samtools/0.1.19
PATH_GATK=/apps/gatk/3.5.0
PATH_VARSCAN=$( type VarScan.v2.3.9.jar | grep -o '\/.*\/' | sed 's/\/$//' )/VarScan.v2.3.9.jar
PATH_LOFREQ=/apps/lofreq/0.6.1/bin
PATH_LOFREQ21=/apps/lofreq/2.1.2/bin
PATH_LOFREQ2=/apps/lofreq/2.0.0/lofreq
PATH_PICARD=$( type picard.jar | grep -o '\/.*\/' | sed 's/\/$//' )
# breakdancer
PATH_BREAKD=/apps/breakdancer/1.1.2/cpp
PATH_BAM2CONF=/apps/breakdancer/1.1.2/perl
PATH_GD_GRAPH_HISTOGRAM=/apps/breakdancer/1.1.2/GDGraph-histogram-1.1/lib
# pindel
PATH_PINDEL=/apps/pindel/0.2.4
PATH_SAM2PINDEL=/apps/pindel/0.2.4/sam2pindel
PATH_PINDEL_025=/apps/pindel/0.2.5
PATH_SAM2PINDEL_025=/apps/pindel/0.2.5/sam2pindel
# delly
PATH_DELLY_072=$( type delly | grep -o '\/.*\/' | sed 's/\/$//' )
# cortex
PATH_CORTEX_DIR=/apps/cortex/1.0.5.14
PATH_CORTEX=/apps/cortex/1.0.5.14/bin
PATH_RUN_CALLS=/apps/cortex/1.0.5.14/scripts/calling
PATH_STAMPY=$( type stampy.py | grep -o '\/.*\/' | sed 's/\/$//' )
PATH_VCFTOOLS=$( type vcftools | grep -o '\/.*\/' | sed 's/\/bin\/$//' )
# cortex 1.0.5.21
# PATH_CORTEX_DIR_10521=/home/apps/CORTEX_release_v1.0.5.21
# PATH_CORTEX_10521=/home/apps/CORTEX_release_v1.0.5.21/bin
# PATH_RUN_CALLS_10521=/home/apps/CORTEX_release_v1.0.5.21/scripts/calling

# caller data folders
PATH_GATK_DATA=$PATH_PROJECTS_DATA/$PROJ_NAME/caller/gatk
PATH_SAMTOOLS_DATA=$PATH_PROJECTS_DATA/$PROJ_NAME/caller/samtools
PATH_VARSCAN_DATA=$PATH_PROJECTS_DATA/$PROJ_NAME/caller/varscan
PATH_LOFREQ_DATA=$PATH_PROJECTS_DATA/$PROJ_NAME/caller/lofreq
PATH_LOFREQ2_DATA=$PATH_PROJECTS_DATA/$PROJ_NAME/caller/lofreq2
PATH_LOFREQ21_DATA=$PATH_PROJECTS_DATA/$PROJ_NAME/caller/lofreq21
PATH_BREAKD_DATA=$PATH_PROJECTS_DATA/$PROJ_NAME/caller/breakdancer
PATH_PINDEL_DATA=$PATH_PROJECTS_DATA/$PROJ_NAME/caller/pindel
PATH_PINDEL_DATA_025=$PATH_PROJECTS_DATA/$PROJ_NAME/caller/pindel_025
PATH_DELLY_072_DATA=$PATH_PROJECTS_DATA/$PROJ_NAME/caller/delly_072
PATH_CORTEX_DATA=$PATH_PROJECTS_DATA/$PROJ_NAME/caller/cortex
# PATH_CORTEX_DATA_10521=$PATH_PROJECTS_DATA/$PROJ_NAME/caller/cortex_10521

### variables used by collect_variants.pl
# path variable for absolute  main data path
# structure PATH_CALLER/CALLER/PATH_DATA/FILENAME_BASE
PATH_CALLER=${PATH_PROJECTS_DATA}/${PROJ_NAME}/caller
PATH_CALLER_COLLECT=${PATH_PROJECTS_DATA}/${PROJ_NAME}/vcfs_raw/raw_variant_files/${BAM_NAME_BASE}
# relative subpath to data
PATH_DATA=data
# filename base e.g name_v1
# FILENAME_BASE=E25_01rs_5x80x_bwa_100_v1
# FILENAME_BASE=$BAM_BWA
FILENAME_BASE=${BAM_NAME_BASE}_bwa
# number of subsample repetitions, (default 5), not more than 10
#REPEATS=5
# minimum calls per caller from subsamples (default 2), settable from 1 to REPEATS
MIN_CPC=2
# minimum caller per variant (default 1 or 2), up to number of callers
MIN_CPV=1
# reference file in fasta format (with absolute path)
# REF=/scratch/zojer/projects/test_pipeline/read_simulation/NC_005861.fasta
PATH_VMATCH=/apps/vmatch/2.2.4

### annotation
# PATH_SNPEFF=.
PATH_SNPEFF=$( type snpEff.jar | grep -o '\/.*\/' | sed 's/\/$//' )
PATH_SNPEFF_DATA=$PATH_PROJECTS_DATA/$PROJ_NAME/annotator/snpeff

